{{/* check for default values from the parent list page in case we need them */}}
  {{ $default_image := .Parent.Resources.GetMatch .Parent.Params.default_image}}
  {{ $default_alt_text := .Parent.Params.default_image_alt_text }}

{{/* MD5-checksum of the file’s path so the details tab knows which div to expand
  html ids cannot start with a number, so prepend with "details_"
  delimit combines the items in a slice using the delimiter
  (we are creating the slice in-place)
  in R this would be paste("details", .File.UniqueID, sep="_") */}}

  {{ $details_id := delimit (slice "details" .File.UniqueID) "_" }}

<div class="card">

  {{/* outer row: image and card content */}}
  <div class="row gx-3">

    <div class="col-4 col-md-3 col-xl-2">
      {{ $image := .Resources.GetMatch .Params.image | default $default_image }}
      {{ $alt_text := .Params.image_alt_text | default $default_alt_text }}
      <img class="img-thumbnail m-3" src="{{ $image.RelPermalink }}" alt={{ $alt_text }}>
    </div>

    <div class="col-8 col-md-9 col-xl-10">
      <div class="card-body">

        <h2 class="card-title"> {{ .Title | markdownify }} </h2>
        <p class="mb-1"> {{ .Params.summary | markdownify }} </p>

        {{/* tags */}}
        <div class="mb-1 card-tag-list">
          <a href="#" class="link-secondary text-decoration-none fst-italic">tag1,</a>
          <a href="#" class="link-secondary text-decoration-none fst-italic">tag1</a>
        </div>
        {{/* end tags */}}

        {{/* buttons */}}
        <div>
          <a class="btn btn-primary btn-sm mb-1 me-1" data-bs-toggle="collapse" href="#{{ $details_id }}" role="button" aria-expanded="false" aria-controls="collapseExample">Details</a>
          <a class="btn btn-primary btn-sm mb-1 me-1" href="#">View</a>
          <a class="btn btn-primary btn-sm mb-1 me-1" href="#">Source</a>
          <a class="btn btn-primary btn-sm mb-1 me-1" href="#">Random</a>
          <a class="btn btn-primary btn-sm mb-1 me-1" href="#">Other</a>
          <a class="btn btn-primary btn-sm mb-1 me-1" href="#">Buttons</a>
        </div>
        {{/* end buttons */}}

        {{/* details (collapsed) */}}
        <div class="collapse" id="{{ $details_id }}">
          <h3 class="card-title"> Learning Objectives </h3>
          <ol>
            {{ if reflect.IsSlice .Params.learning_goals }}
              {{ range .Params.learning_goals }}
              <li>{{ . }}</li>
              {{ end }}
            {{ else }}
              {{ with .Params.learning_goals }}
              <li>{{ . }}</li>
              {{ end }}
            {{ end }}
          </ol>
        </div>
        {{/* end details */}}

      </div>
    </div>
    {{/* end card-body and end second column*/}}

  </div>
</div>
{{/* end outer card row and end card*/}}
