{{ define "main" }}

<main class="container">

  <h1>{{ .Title | markdownify }}</h1>

    {{ .Content }}

    {{ $default_image := .Resources.GetMatch .Params.default_image}}
    {{ $default_alt_text := .Params.default_image_alt_text }}

    {{ range .RegularPages }}
      <div class="card">

        {{/* outer row: image and card content */}}
        <div class="row gx-3">

          <div class="col-4 col-md-3 col-xl-2">
            {{ $image := .Resources.GetMatch .Params.image | default $default_image }}
            {{ $alt_text := .Params.image_alt_text | default $default_alt_text }}
            <img class="img-thumbnail m-3" src="{{ $image.RelPermalink }}" alt={{ $alt_text }}>
          </div>

          <div class="col-8 col-md-9 col-xl-10">
          <div class="card-body">

            <h2 class="card-title"> {{ .Title | markdownify }} </h2>
            <p class="mb-1"> {{ .Params.summary | markdownify }} </p>

            {{/* tags */}}
            <div class="mb-1" style="font-size: 0.8rem;">
              <a href="#">tag1</a>
              <a href="#">tag1</a>
            </div>
            {{/* end tags */}}

            {{/* buttons */}}
            <div>
              <a class="btn btn-primary btn-sm mb-1" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Details</a>
              <a class="btn btn-primary btn-sm mb-1" href="#">View</a>
              <a class="btn btn-primary btn-sm mb-1" href="#">Source</a>
              <a class="btn btn-primary btn-sm mb-1" href="#">Details</a>
              <a class="btn btn-primary btn-sm mb-1" href="#">View</a>
              <a class="btn btn-primary btn-sm mb-1" href="#">Source</a>
            </div>
            {{/* end buttons */}}

            {{/* details (collapsed) */}}
            <div class="collapse" id="collapseExample">
              <h3 class="card-title"> Learning Objectives </h3>
                <ol>
                  {{range .Params.learning_goals}}
                    <li>{{ . }}</li>
                  {{end}}
                </ol>
            </div>
            {{/* end details */}}

          </div>
          </div>
          {{/* end card-body and end second column*/}}

        </div>
        {{/* end outer card row: image and card-body */}}

      </div>
      {{/* end card */}}

    {{ end }}

  <h1>Pages (instead of Regular Pages)</h1>
    {{ range .Pages }}
      <h2> {{ .Title | markdownify }} </h2>
      {{ $image := .Resources.GetMatch .Params.image | default $default_image }}
      <p> {{$image}} </p>
      <p> {{$image.RelPermalink}} </p>


    {{ end }}

</main>

{{ end }}
